h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

input[type=text],
input[type=password]
{
    font-size: .875rem;

    display: block;

    width: 100%;
    height: 2.3125rem;
    margin: 0 0 1rem;

    transition: border-color .3s linear;

    border: 0;
    border-bottom: 1px solid black;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;

    appearance: none;
}
input[type=text]:focus,
input[type=text]:active,
input[type=password]:focus,
input[type=password]:active
{
    border-color: rgb(88, 180, 255);
    outline: 0;
}
.ReactModal__Overlay
{
    overflow-x: hidden;
    overflow-y: auto;

    opacity: 0;
    background-color: rgba(0, 0, 0, .5);

    -webkit-perspective: 600;
            perspective: 600;
}
.ReactModal__Overlay--after-open
{
    transition: opacity 150ms ease-out;

    opacity: 1;
}
.ReactModal__Content
{
    -webkit-transform: scale(.5) rotateX(-30deg);
}
.ReactModal__Content--after-open
{
    transition: all 150ms ease-in;
    -webkit-transform: scale(1) rotateX(0deg);
}
.ReactModal__Overlay--before-close
{
    opacity: 0;
}
.ReactModal__Content--before-close
{
    transition: all 150ms ease-in;
    -webkit-transform: scale(.5) rotateX(30deg);
}
.ReactModal__Content.modal-dialog
{
    border: none;
    background-color: transparent;
}
@keyframes hexDash
{
    0%
    {
        stroke-dasharray: 0, 0, 340%;
    }
    10%
    {
        stroke-dasharray: 0, 20, 340%;
    }
    100%
    {
        stroke-dasharray: 320%, 20, 340%;
    }
}
.Hexagon
{
    position: relative;

    overflow: hidden;
}
.Hexagon:hover
{
    animation: hexDash 1s infinite;
}
.Hexagon .overlay-container
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    margin: auto;
}
.Hexagon .overlay-container .content
{
    display: flex;
    flex-direction: column;

    height: 100%;

    text-align: center;

    align-items: center;
    justify-content: center;
}
@media (min-width: 1501px)
{
    .Hexagon.responsive
    {
        width: 14.538%;
    }
    .Hexagon:nth-child(12n+7).responsive,
    .Hexagon:nth-child(12n+8).responsive,
    .Hexagon:nth-child(12n+9).responsive,
    .Hexagon:nth-child(12n+10).responsive,
    .Hexagon:nth-child(12n+11).responsive,
    .Hexagon:nth-child(12n+12).responsive
    {
        margin-top: -3.33%;
        margin-bottom: -3.33%;
        transform: translateX(50%);
    }
    .Hexagon:nth-child(12n+7).responsive
    {
        margin-left: .5%;
    }
    .Hexagon:nth-child(6n+2).responsive
    {
        margin-right: 1%;
        margin-left: 1%;
    }
    .Hexagon:nth-child(6n+3).responsive,
    .Hexagon:nth-child(6n+4).responsive,
    .Hexagon:nth-child(6n+5).responsive
    {
        margin-right: 1%;
    }
}
@media (max-width: 1500px) and (min-width: 1201px)
{
    .Hexagon.responsive
    {
        width: 17.364%;
    }
    .Hexagon:nth-child(10n+6).responsive,
    .Hexagon:nth-child(10n+7).responsive,
    .Hexagon:nth-child(10n+8).responsive,
    .Hexagon:nth-child(10n+9).responsive,
    .Hexagon:nth-child(10n+10).responsive
    {
        margin-top: -4.2%;
        margin-bottom: -4.2%;

        transform: translateX(50%);
    }
    .Hexagon:nth-child(10n+6).responsive
    {
        margin-left: .5%;
    }
    .Hexagon:nth-child(5n+2).responsive
    {
        margin-right: 1%;
        margin-left: 1%;
    }
    .Hexagon:nth-child(5n+3).responsive,
    .Hexagon:nth-child(5n+4).responsive
    {
        margin-right: 1%;
    }
}
@media (max-width: 1200px) and (min-width: 993px)
{
    .Hexagon.responsive
    {
        width: 21.444%;
    }
    .Hexagon:nth-child(8n+5).responsive,
    .Hexagon:nth-child(8n+6).responsive,
    .Hexagon:nth-child(8n+7).responsive,
    .Hexagon:nth-child(8n+8).responsive
    {
        margin-top: -5.298%;
        margin-bottom: -5.298%;

        transform: translateX(50%);
    }
    .Hexagon:nth-child(8n+5).responsive
    {
        margin-left: .5%;
    }
    .Hexagon:nth-child(4n+2).responsive
    {
        margin-right: 1%;
        margin-left: 1%;
    }
    .Hexagon:nth-child(4n+3).responsive
    {
        margin-right: 1%;
    }
}
@media (max-width: 992px) and (min-width: 769px)
{
    .Hexagon.responsive
    {
        width: 27.857%;
    }
    .Hexagon:nth-child(6n+4).responsive,
    .Hexagon:nth-child(6n+5).responsive,
    .Hexagon:nth-child(6n+6).responsive
    {
        margin-top: -7.322%;
        margin-bottom: -7.322%;

        transform: translateX(50%);
    }
    .Hexagon:nth-child(6n+4).responsive
    {
        margin-left: .5%;
    }
    .Hexagon:nth-child(3n+2).responsive
    {
        margin-right: 1%;
        margin-left: 1%;
    }
}
@media (max-width: 768px)
{
    .Hexagon.responsive
    {
        width: 39.4%;
    }
    .Hexagon:nth-child(4n+3).responsive,
    .Hexagon:nth-child(4n+4).responsive
    {
        margin-top: -10.392%;
        margin-bottom: -10.392%;

        transform: translateX(50%);
    }
    .Hexagon:nth-child(4n+3).responsive
    {
        margin-left: .5%;
    }
    .Hexagon:nth-child(2n+2).responsive
    {
        margin-left: 1%;
    }
}
